<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped">
  <thead class=thead-dark>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= button_to 'Show', user, class: 'btn btn-secondary', method: :get %></td>
        <td><%= button_to 'Edit', edit_user_path(user), class: 'btn btn-secondary', method: :get %></td>
        <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New User', new_user_path, class: 'btn btn-primary', method: :get %>
